@model VxTel.Site.Domain.DTO.ConsumoDTO

<div>
    <div class="row">
        <h2>Delete</h2>
    </div>

    <div class="row">
        <div class="table-responsive-sm col-md-8">
            <form asp-action="Delete">
                <fieldset>
                    <legend>Consumo</legend>
                    <hr />
                    <h3 class="mt-4">Deseja realmente excluir o registro?</h3>

                    <div class="mt-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Cliente.Id)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Cliente.Nome)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.TempoTotal)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Valor)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Id)</td>
                                    <td>@Html.DisplayFor(model => model.Cliente.Id)</td>
                                    <td>@Html.DisplayFor(model => model.Cliente.Nome)</td>
                                    <td>@Html.DisplayFor(model => model.TempoTotal)</td>
                                    <td>@Html.DisplayFor(model => model.Valor)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group mt-4">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-light">Back to List</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}